EXPO_PUBLIC_APP_VARIANT=consumer
ADMOB_ANDROID_APP_ID=ca-app-pub-your-android-app-id~your-app-id
ADMOB_IOS_APP_ID=ca-app-pub-your-ios-app-id~your-app-id
EXPO_PUBLIC_ADMOB_REWARDED_UNIT_ID_ANDROID=ca-app-pub-your-android-app-id/your-unit-id
EXPO_PUBLIC_ADMOB_REWARDED_UNIT_ID_IOS=ca-app-pub-your-ios-app-id/your-unit-id
